


  <div class="container-fluid vh-100  bg-danger pt-5">

 
    <div class="container d-flex flex-column align-items-center ">
        <p *ngIf="message" class="alert alert-warning">
            {{message}}
           
        </p>
     <form class=" col-sm-12 col-md-8 col-lg-4 p-3 px-5 rounded-4 bg-light" (ngSubmit)="onsend()">
         
        <h1 class="text-center mb-4">Reset Password</h1>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
          <input
            class="form-control"
            type="email"
            name="email "
            id="email"
            [(ngModel)]="email"
            placeholder="Email"
            required
          #emailv="ngModel"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
           
          />
        </div>
        <div *ngIf="emailv.touched && emailv.invalid" class="ms-5 text-danger">
          <small *ngIf="emailv.errors?.['required']">Email is required!</small>
          <small *ngIf="emailv.errors?.['pattern']"> Enter valid email</small>
        </div>
       
        <button class="btn btn-danger d-block mx-auto mt-3 text-white" type="submit">
          Send Reset Link
        </button>
       </form>
    </div>
   </div>
 
 