<footer class="footer bg-dark text-white py-4 text-center">
  <img src="zestyeats2.png" class="rounded-4" width="200px" alt="logo" />
  <p class="mt-3 mb-3">
    <q
      >Good food is the foundation of genuine happiness. <br />Let us bring
      happiness to your door.</q
    >
  </p>
  <div class="">
    <a class="text-light m-3 fs-5" href="#"><i class="bi bi-facebook"></i></a>
    <a class="text-light m-3 fs-5" href="#"><i class="bi bi-twitter-x"></i></a>
    <a class="text-light m-3 fs-5" href="#"><i class="bi bi-instagram"></i></a>
  </div>
  <p class="mt-3">&copy; 2024 ZestyEats. All Rights Reserved.</p>
</footer>
