<app-navbar class="position-fixed top-0 end-0 w-100" style="z-index: 2;"></app-navbar>
<div class="container pt-5 mt-4">
  <h1 class="text-center display-4 my-4">Your Orders</h1>

  <div *ngIf="(order$ | async) as orders">
    <div *ngIf="orders.length >0; else empty"></div>
    <div class="card mb-3 shadow col-12" *ngFor="let order of orders">
      <div class="card-body px-5 py-4" *ngFor="let item of order.items">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <img [src]="item.image" class="rounded shadow" width="70" height="70" alt="food-img">
          <p>{{item.name}} - {{item.price}}</p>
          <p class="btn btn-light pe-none"><i class="bi bi-cart3"></i> {{item.quantity}}</p>
          <p>{{item.date?.toDate() | date}}</p>
          <p class="badge" [ngClass]="item.status === 'Delivered' ? 'text-bg-success' : 'text-bg-secondary'">{{item.status}}</p>
        </div>
        <hr>
      </div>

      <div class="d-block ms-auto me-5 mt-2 mb-3">
        <p>Payment Id: <span class="badge text-bg-danger text-light">{{order.paymentId}}</span></p>
        <p class="fw-bold">Total: {{order.totalAmount | currency:'INR'}}</p>
      </div>
    </div>
  </div>


  <ng-template #empty>
    <p class="text-center">No orders found.</p>
  </ng-template>
</div>