<div class="container-fluid bg-danger pt-2 min-vh-100 d-flex flex-column justify-content-center align-items-center">
<div class="position-fixed top-0">
    <p class="display-6 text-center mt-5 text-white fw-bolder">Enjoy Every Bite</p>
<p class="lead text-center text-white fw-bolder">Delivered with Care</p>
</div>
   
    <img src="welcome.png" alt="" width="400px"  class=" d-none d-lg-block mx-auto  custom-shadow ">
    <img src="welcome.png" alt=""  class="d-block mx-auto d-lg-none custom-shadow w-75 w-lg-25 ">
  
    <img src="zestyeats2.png" alt="" class="d-block mx-auto w-50">
    <button class="d-block mx-auto mt-4 btn btn-light rounded-pill btn-lg shadow" routerLink="/login">Get Start</button>


</div>