<div class="container-fluid vh-100  bg-danger pt-5">

 
    <div class="container d-flex flex-column align-items-center ">
        <div class="alert alert-danger" *ngIf="message">
            {{message}}
            <button class="btn-close" data-bs-dismiss="alert"></button>

        </div>
     <form class=" col-sm-12 col-md-8 col-lg-4 p-3 px-5 rounded-4 bg-light" (ngSubmit)="register()">
         <img src="zestyeats1w.png" alt="" class="d-block mx-auto w-75 mb-2" />
         <h2 class="text-center  fst-italic">Register</h2>
         <div class="input-group mb-4">
       <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input class="form-control" type="text" name="name" id="name" [(ngModel)]="name" placeholder="Name"/>
        </div>
         <div class="input-group mb-4">
      <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
           <input class="form-control" type="text" name="email" id="email" [(ngModel)]="email" placeholder="Email"/>
         </div>
         <div class="input-group mb-4">
      <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
           <input
             class="form-control"
             [type]="isPasswordVisible ? 'text' : 'password'"
             name="Password"
             id="Password"
             [(ngModel)]="password"
             placeholder="Password"
           />
           <button class="btn border" type="button" (click)="togglePasswordVisibility()"><i [ngClass]="isPasswordVisible ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i></button>

         </div>
         <div class="input-group mb-4">
          <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
          <textarea
            class="form-control"
          placeholder="Address"
            name="address"
            id="address"
            [(ngModel)]="address"
          ></textarea>

        </div>
         <button class="btn btn-danger  d-block mx-auto text-white mt-4">
           Register
         </button>
         <p class="text-center mt-4">Already have account ? <a routerLink="/login" class="text-decoration-none text-danger">Login</a></p>
         
       </form>
    </div>
   </div>
 
 